{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Resume</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/Riad.jpg' %}" >
					<hr>
					<h4>Hi I'm Md Riad Shah !</h4>
					<p>I love coding, doing research and collaborating</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>I'm Full stack Python Developer</h4>
					<hr>
					<p> A Python Developer is responsible for coding, designing, deploying, and debugging development projects, typically on the server-side (or back-end)</p>

                    <p>A Python Developer often works in close collaboration with data collection and analytics to create useful answers to questions and provide valuable insight.</p>

					<p>Being a Python developer is a good career choice, mainly due to the increasing demand for Python developers in many industries.</p>

					<ul class="social-links">
						<li><img class="social" src="{% static 'images/facebook.PNG' %}"></li>
						<li><img class="social" src="{% static 'images/linkedin.PNG' %}"></li>
						<li><img class="social" src="{% static 'images/twitter.PNG' %}"></li>
						<li><img class="social" src="{% static 'images/youtube.PNG' %}"></li>
					</ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100 border-info">
					<h5>Educational Qualification</h5>
					<hr>
                    <p> <b>BSc in CSE</b> </p>
					<p>Bachelor's Degree  in Computer Science and Engineering at Daffodil International University.</p>
					<p>Strong Engineering Professional with Bachelor's degree focused in Computer Science & Engineering.</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100 border-info">
					<h5>What I Know</h5>
					<hr>
					<p>Python, Django, HTML/CSS, JavaScript/Jquery, React, AWS and APIs such as google maps, JavaScript charts and a whole bunch more I can’t possibly mention in one sentence! ;)</p>
					<p>PS: Working on Django, React, Mysql and all IT Related Works.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100 border-info">
					<h5>Technical Skill and Ability</h5>
					<hr>
                    <p> <b>Web Technologies:</b> Full-stack-python Development Django,Graphic Design, Digital Marketing, Video Editing</p>
					<p> <b>Database:</b> Postgresql, Mysql, sqlite3, MongoDb</p>
                    <p> <b>IDEs:</b> Pycharm, VS Code, Sublime Text</p>
                    <p> <b>Version Control System:</b> Github</p>
                    <p> <b>OS:</b> Windows, Linux(ubuntu) </p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100 border-info">
					<h5>My Short Term Goals</h5>
				   <hr>
				   <p>Develop One Good Habit Every Month. I'm ready to learn something new, Want to learn New Stuffs to improve myself, cause I believe in work rather than big words .I'll collaborating and sharing
                       my experience with others.</p>
				   <p>Aside from building small projects I would love to enter a position where I can be part of a bigger team & learn from others with more experience than myself.</p>

				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>
